.env
*.pyc
__pycache__/
src/camera-rtsp/mediamtx
mavlink-logs/
*:Zone.Identifier
/config/*
!/config/*.example.json

.telemetry-build*/

/build/
CMakeFiles/


.tools/
build-*/
*.bak
*.o
*.a
bin/
/install/
/log/
